.home {
  font-family: sans-serif;
  font-weight: 700;
  width: 100%;
  // Updated to 100vh to fill the viewport height

 

  .word {
    display: inline-block;
    cursor: pointer;
  }

  .titleText {
    display: block;
  }
  .titleText2 {
    display: block;
    color: rgb(202, 202, 202);
  }

  .studioRezy {
    font-size: desktop-vw(64px);
    display: block;
    margin-bottom: desktop-vw(20px);
  }
}

.backgroundVideo {
  position: relative;
  top: 300px;
  right: 0;
  width: 50%;
  height: 400px;
  z-index: 0;
  margin-left: auto;
  @media (min-width: 768px) {
    position: absolute;
    padding: 20px;
    top: 250px;
    right: 50px;
    width: 600px;
    height: 400px;
  }
}

.cardGridContainer {
  position: relative;
  bottom: 500px;
  left: 0;
  z-index: -1;
  padding: 10px;
  @media (min-width: 768px) {
    position: absolute;
    padding: 0px;
    bottom: 0px;
    right: 0px;
  }
}
.video-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: auto;
}
