.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: cyan;
  }

  padding-top: mobile-vw(20px);
  padding-bottom: mobile-vw(20px);

  @include desktop {
    padding-top: desktop-vw(40px);
    padding-bottom: desktop-vw(40px);
  }
}

.footerLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}